@font-face {
    font-family: 'Inter';
    src: url('https://fonts.google.com/specimen/Inter');
}

body {
    font-family: 'Inter';
}

.carousel {
    width: 100%;
    height: 800px;
    padding-top: 30px;

    &__items-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__items {
        padding: 0 12%;
        position: relative;
        height: 100%;
        transition: transform 250ms ease-in;

    }

    &__slide {
        position: absolute;
        top: 0;
        bottom: 0;
        // padding: 0 50px;
        width: 100%;

    }
}

.testimonial-text {
    z-index: 1;
    padding-left: 8%;
}

.person-pic {
    border-radius: 10px;
    margin-top: 63px;
    box-shadow: 0 10px 76px hsl(240, 18%, 77%);
}


.pattern-pic {
    left: -52px;
    z-index: -1;
    top: 0;
    position: absolute;
}


.slider-controls {
    width: 40%;
    float: right;
    position: relative;
    bottom: 200px;
    left: -6%;

    button {
        background-color: #fff;
        width: 10%;
        padding: 18px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: hsl(240, 66%, 94%);
            transition: background-color 1s ease-out;
        }

        &:focus {
            border: 3px solid #babacf;
        }

        &:first-child {
            position: relative;
            left: 4px;
            border-radius: 30px 0px 0px 30px;
        }

        &:last-child {
            border-radius: 0 30px 30px 0;
        }


    }


}

.text {
    font-weight: 300;
    font-size: 32px;
    width: 120%;
    margin-top: 135px;
    margin-left: 11px;
}

.qoutes {
    left: 117px;
    z-index: -1;
    position: relative;
    top: 170px;
}

.signature {
    font-size: 20px;
    margin: 25px 12px;
    font-weight: 700;

    span {
        font-weight: 500;
        color: hsl(240, 18%, 77%);
        margin-left: 12px;

    }
}